<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.skhu.mapper.DistrictMapper">

  <select id="findAll" resultMap="cityWithDistricts">
    select c.*, d.districtName districtName
    from district d join city c 
      on d.id = c.districtId
    order by c.id;
  </select>

  <resultMap id="cityWithDistricts" type="net.skhu.dto.District">
    <id property="id" column="districtId" />
    <result property="districtName" column="districtName" />
    <result property="id" column="districtId" />
    <collection property="cities" ofType="net.skhu.dto.City">
      <id property="id" column="id" />
      <result property="name" column="name" />
      <result property="population" column="population" />
      <result property="area" column="area" />
    </collection>
  </resultMap>

</mapper>